.task-1
    min-height: 100px

button 
    &:hover
        background-color: rgb(243, 238, 231)
    background-color: rgb(235, 209, 174)
    width: 150px
    height: 40px
    border: 2px solid rgb(177, 161, 140)
    border-radius: 6px

.task-2
    min-height: 100px